@tailwind base;
@tailwind components;
@tailwind utilities;

.spectral-regular {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  background-image: url('/background.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}

/* Kalm branding colors */
:root {
  --kalm-green: #284203;
  --kalm-green-light: #d9e4bf;
  --kalm-salmon: #e9d6c7;
}
