@tailwind base;
@tailwind components;
@tailwind utilities;

.spectral-regular {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url('/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  background-size: 105%;
}

/* Dark green color from the Kalm branding */
:root {
  --kalm-green: #3d5a3d;
  --kalm-green-light: #4a6b4a;
}
